.pro{
	-fx-background-color: linear-gradient(to top,blue,red);
}

.lok{
	-fx-text-fill: linear-gradient(to right,red, blue);
}

.label3{
	-fx-background-color: linear-gradient(to right,blue,white,blue,white,blue);
	}
	
.compte{
	-fx-background-radius:50px;
	
}

.compte1{
	-fx-background-radius:100px;
	
}


.button {
	-fx-background-color: linear-gradient(to top,violet,blue);
	}
        
 .pro1{
	-fx-background-color: linear-gradient(to left,#36449a,white,#36449a,white,#36449a);
	}      